{% extends 'blog/base.html' %}

{%block content%}
    
    <header>
    <!-- Page Content -->
    <div class="header-content">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page">상대방의 성별은 무엇인가요?</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{ STATIC_URL}} /static/imageboot/images/man.jpeg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{ STATIC_URL}} /static/imageboot/images/woman.jpeg" alt="">
                </a>
            </div>
        </div>

        <p></p>

            <center>
                <div style="width:150px;">
                        <a href="/relation" class="btn btn-primary btn-xl page-scroll" style="width:100%"> 다음 </a>
                </div>
            </center>

        </div>
        </header>

{%endblock content%}