{% extends 'blog/base.html' %}

{%block content%}
    
    <header>
    <!-- Page Content -->
    <div class="header-content">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page">원하는 가격대를 설정해주세요</h1>
            </div>

        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> 3만원 이하
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox2" value="option2"> 3~5만원
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox3" value="option3"> 5~10만원
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox3" value="option3"> 10~20만원
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox3" value="option3"> 20~30만원
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox3" value="option3"> 30~50만원
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox3" value="option3"> 50~100만원
        </label>
            
        </div>

        <p></p>

        <p></p>

            <center>
                <div style="width:150px;">
                        <a href="/content" class="btn btn-primary btn-xl page-scroll" style="width:100%"> 다음 </a>
                </div>
            </center>

        </div>
        </header>

{%endblock content%}