{% extends 'blog/base.html' %}

{%block content%}
    
    <header>
    <!-- Page Content -->
    <div class="header-content">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="header">선물하려는 상황을 자세히 적어주세요</h1>
            </div>

        
            <div class="col-lg-offset-3 col-lg-6">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="생일, 기념일, 입학 등">
            </div>

        </div>

        
        <p></p>

            <center>
                <div style="width:150px;">
                        <a href="/gender" class="btn btn-primary btn-xl page-scroll" style="width:100%"> 다음 </a>
                </div>
            </center>

    </div>

    </header>

{%endblock content%}